.scrolled-dark {
  background-color: transparent !important;
  transition: 200ms ease;

  &.scrolled {
    background-color: $dark !important;
    box-shadow: $box-shadow;

    > .container, > .container > .navbar-collapse > .navbar-nav {
      > .server-badge-group > .input-group {
        > .input-group-prepend > .server-badge-label {
          @if $color-scheme == dark {
            background-color: $gray-400 !important;
          } @else {
            background-color: $gray-600 !important;
          }

          transition: 200ms ease;
        }
        > .server-badge {
          @if $color-scheme == dark {
            background-color: $gray-300 !important;
          } @else {
            background-color: $gray-700 !important;
          }

          color: white !important;
          transition: 200ms ease;
        }
        > .input-group-append > .server-badge-icon {
          @if $color-scheme == dark {
            background-color: $gray-300 !important;
          } @else {
            background-color: $gray-700 !important;
          }

          color: white !important;
          transition: 200ms ease;
        }
      }
      > .nav-item > .social-iconbar-icon {
        @if $color-scheme == dark {
          background-color: $gray-300 !important;
        } @else {
          background-color: $gray-700 !important;
        }
      }
    }
  }

  > .container, > .container > .navbar-collapse > .navbar-nav {
    > .server-badge-group > .input-group {
      > .input-group-prepend > .server-badge-label {
        @if $color-scheme == dark {
          background-color: $gray-800 !important;
        } @else {
          background-color: $gray-200 !important;
        }

        transition: 200ms ease;
      }
      > .server-badge {
        background-color: white !important;
        color: black !important;
        transition: 200ms ease;
      }
      > .input-group-append > .server-badge-icon {
        background-color: white !important;
        color: black !important;
        transition: 200ms ease;
      }
    }
    > .nav-item > .social-iconbar-icon {
      background-color: transparent !important;
      transition: 200ms ease;
    }
  }
}

.social-iconbar-icon {
  @if $color-scheme == dark {
    background-color: $gray-300;
  } @else {
    background-color: $gray-700;
  }

  padding: 10px;
  color: white;
  display: inline-block;
  height: 100%;

  &:hover {
    @if $color-scheme == dark {
      color: $gray-700;
    } @else {
      color: $gray-300;
    }
  }

  > i {
    margin-top: 2px;
  }
}

.server-badge-group {
  position: relative;
}

.server-badge-label {
  @if $color-scheme == dark {
    background-color: $gray-400 !important;
  } @else {
    background-color: $gray-600 !important;
  }
}

.server-badge {
  @if $color-scheme == dark {
    background-color: $gray-300 !important;
  } @else {
    background-color: $gray-700 !important;
  }

  height: 39px;
  border: none;
  outline: none;

  &.code {
    font-family: $font-family-monospace;
  }
}

.server-badge-icon {
  @if $color-scheme == dark {
    background-color: $gray-300 !important;
  } @else {
    background-color: $gray-700 !important;
  }

  padding-left: 2px;
  cursor: pointer !important;
}
