.scrolled-dark {
  background-color: transparent !important;
  transition: 200ms ease;

  &.scrolled {
    background-color: $dark !important;
    box-shadow: $box-shadow;

    > .container, > .container > .navbar-collapse > .navbar-nav {
      > .server-badge-group > .input-group {
        > .input-group-prepend > .server-badge-label {
          background-color: $nav-server-badge-group-prepend-bg !important;
          transition: 200ms ease;
        }
        > .server-badge {
          background-color: $nav-server-badge-group-bg !important;
          color: white !important;
          transition: 200ms ease;
        }
        > .input-group-append > .server-badge-icon {
          background-color: $nav-server-badge-group-bg !important;
          color: white !important;
          transition: 200ms ease;
        }
      }
      > .nav-item > .social-iconbar-icon {
        background-color: $nav-server-badge-group-bg !important;
      }
    }
  }

  > .container, > .container > .navbar-collapse > .navbar-nav {
    > .server-badge-group > .input-group {
      > .input-group-prepend > .server-badge-label {
        background-color: $nav-server-badge-group-label-bg !important;
        transition: 200ms ease;
      }
      > .server-badge {
        background-color: white !important;
        color: black !important;
        transition: 200ms ease;
      }
      > .input-group-append > .server-badge-icon {
        background-color: white !important;
        color: black !important;
        transition: 200ms ease;
      }
    }
    > .nav-item > .social-iconbar-icon {
      background-color: transparent !important;
      transition: 200ms ease;
    }
  }
}

.social-iconbar-icon {
  background-color: $nav-social-icon-bg;
  padding: 10px;
  display: inline-block;
  height: 100%;

  &:hover {
    color: $nav-social-icon-color-hover;
  }

  > i {
    margin-top: 2px;
  }
}

.server-badge-group {
  position: relative;
}

.server-badge-label {
  background-color: $nav-server-badge-group-prepend-bg !important;
}

.server-badge {
  background-color: $nav-server-badge-group-bg !important;

  height: 39px;
  border: none;
  outline: none;

  &.code {
    font-family: $font-family-monospace;
  }
}

.server-badge-icon {
  background-color: $nav-server-badge-group-bg !important;

  padding-left: 2px;
  cursor: pointer !important;
}
