//Placeholders
$placeholder-max-width: 30rem !default;

$placeholder-line-margin: .85rem !default;
$placeholder-header-line-height: 1.2rem !default;
$placeholder-line-height: 1.2rem !default;
$placeholder-paragraph-line-height: $placeholder-line-height !default;

$placeholder-spacing: 1.5rem !default;

$placeholder-animation-interval: 0.15s !default;

$consecutive-placeholder-spacing: 2rem !default;

$placeholder-spacing: 1.5rem !default;

$placeholder-image-width: 3.2em !default;
$placeholder-image-text-indent: .7rem !default;

$placeholder-header-line-one-outdent: 20% !default;
$placeholder-header-line-two-outdent: 60% !default;

$placeholder-full-line-outdent: 0% !default;
$placeholder-very-long-line-outdent: 10% !default;
$placeholder-long-line-outdent: 35% !default;
$placeholder-medium-line-outdent: 50% !default;
$placeholder-short-line-outdent: 65% !default;
$placeholder-very-short-line-outdent: 80% !default;

$placeholder-loading-animation-duration: 2s !default;
$placeholder-loading-gradient-width: 1200px !default;
$placeholder-loading-gradient: linear-gradient(to right,
  $gray-200 0%,
  $gray-300 15%,
  $gray-200 30%
);

$placeholder-line-one-outdent: $placeholder-full-line-outdent !default;
$placeholder-line-two-outdent: $placeholder-medium-line-outdent !default;
$placeholder-line-three-outdent: $placeholder-very-long-line-outdent !default;
$placeholder-line-four-outdent: $placeholder-long-line-outdent !default;
$placeholder-line-five-outdent: $placeholder-short-line-outdent !default;
